<header class="site-header">
  <div class="site-title">
    <a href="/">{{siteTitle}}</a>
  </div>
  <nav class="site-navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>